@mixin tablet() {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin mobile() {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin media($min, $max) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @content;
    }
}

@mixin heading($size: 56px) {
    color: #FFF;
    font-size: $size;
    font-weight: 700;
    line-height: 120%;
}